
/******************************************************************************
 * EPUB specific rules
******************************************************************************/

/* make headlines left-aligned (instead of justified = inherited from body) */
h1, h2 { text-align: left; }

/* no need to print the link URL next to the link */
span.link-target { display: none; }

/* glossary terms: bold */
dt { font-weight: bold; }
