
/******************************************************************************
 * Sphinx/Alabaster/HTML specific settings
******************************************************************************/

/* make sidebar a bit wider */
div.sphinxsidebar {
    max-height: 100%;
    overflow-y: auto;
    width: auto;
    max-width: 300px;
}

div.document {
    width: auto;
    min-width: 940px;
    max-width: 1020px;	/* same amount as sidebar width is increased */
}

div.bodywrapper {
    margin: 0 0 0 300px;	/* same width as sidebar */
}

/* remove horizontal line when hovering over image */
a.image-reference:hover { border-bottom: none; }

