
body {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.vm-property {
	grid-column: 1;
	display: grid;
	gap: 1em;
	grid-template-columns: 18em 8em auto;
	padding: 4px 0;
	vertical-align: middle;
}

.vm-property:nth-child(even) {
	background: #ddd;
}

.vm-property:nth-child(odd) {
	background: #eee;
}


.property-title {
	grid-column: 1;
}

.property-help {
	cursor: help;
}

.property-boxes {
	grid-column: span 2;
}

.property-box {
	border: 1px solid grey;
	border-radius: 4px;
	margin: 0 5px 2px 0;
	padding: 3px;
	white-space: nowrap;
	line-height: 1.2em;
	float: left;
}

.property-info {
	grid-column: 2;
	text-align: left;
}

.property-slider {
	grid-column: 3;
}


.vm-valid, .property-changed {
	color: #07d90a;
}

.vm-invalid {
	color: #d66e54;
}

.vm-uncertain {
	color: #dbdbdb;
}


#result {
	grid-column: 2;
	margin: 30px;
	padding: 30px;
	border: 1px solid black;
}
